/* Add these styles to your CSS stylesheet */
.description {
    background-color: var(--ion-color-light);
    border-radius: 8px;
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
}

.sc-ion-textarea-md-h {
    --padding-top: 10px;
}

.item-inner-full {
    --inner-padding-end: 0px;
}

.edit-button {
    font-size: 21px;
}

.done-button {
    font-size: 30px;
    font-weight: 600;
}

@media (min-width: 450px) {
    .edit-buttons-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}


.legacy-input.sc-ion-input-ios-h .input-clear-icon.sc-ion-input-ios {
    margin-bottom: 2.1px;
}

.legacy-input.sc-ion-input-md-h .input-clear-icon.sc-ion-input-md {
    margin-left: 8px;
    margin-bottom: 1.5px;
}

.no-button:hover {
    cursor: default;
}

ion-modal.add-new-modal {
    --height: 40%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding-left: 16px;
    padding-right: 16px;
}