.date-grid {
    margin: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

ion-item {
    margin-bottom: 15px;
    padding-right: 14px;
}

.first-col {
    padding-left: 0;
}

.second-col {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 0;
}

.new-task-form {
    border: 2px solid #ccc;
    padding-bottom: 14px;
    padding-top: 14px;
    max-width: 500px;
    margin: auto;
}

