.no-tasks {
    text-align: center;
    margin-top: 10px;
}

.filter-chip {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
    height: 35px;
}

ion-chip ion-select::part(icon) {
    color: var(--ion-color-light);
}

ion-menu ion-checkbox::part(container) {
    border-radius: 6px;
}

.date-filter-col {
    padding-left: 0px;
    max-width: fit-content;
}

.filter-header {
    font-size: 22px;
    font-weight: 700;
}

ion-menu.ios ion-item ion-icon {
    color: var(--ion-color-light);
}

ion-menu.md ion-item ion-icon {
    color: var(--ion-color-light);
}

ion-menu.md ion-item {
    border-radius: 0px;
}

.md div[slot="content"] {
    background: #4c6083;
}

.md ion-accordion ion-item {
    --ion-item-background: #4c6083;
}
